<?xml version="1.0"?>
<psalm
    errorLevel="1"
    checkForThrowsDocblock="true"
    resolveFromConfigFile="true"
    findUnusedCode="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="config"/>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>

    <plugins>
        <pluginClass class="Psalm\SymfonyPsalmPlugin\Plugin"/>
    </plugins>

    <issueHandlers>
        <MissingThrowsDocblock>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MissingThrowsDocblock>

        <MissingOverrideAttribute>
            <errorLevel type="suppress">
                <directory name="tests"/>
            </errorLevel>
        </MissingOverrideAttribute>
    </issueHandlers>
</psalm>
